### Import relevant libraries

In [1]:
import numpy as np
import pandas as pd

### Read .csv files

In [2]:
q2_2021 = pd.read_csv('q2-2021-total-students-watched.csv')
q2_2021

   count(student_id)
0              43274

In [3]:
q2_2022 = pd.read_csv('q2-2022-total-students-watched.csv')
q2_2022

   count(student_id)
0              42761

In [6]:
q2_both_years = pd.read_csv('q2-both-years-total-students-watched.csv')
q2_both_years

   students_both_years
0                  640

### Find probability that a user watched in Q2 2021

In [7]:
probability_2021 = 43274 / 86035
probability_2021

0.5029813448015342

### Find probability that a user watched in Q2 2022

In [8]:
probability_2022 = 42761 / 86035
probability_2022

0.4970186551984657

### Find probability that a user watched in both Q2 2021 and Q2 2022

In [9]:
probability_both_years = 640 / 86035
probability_both_years

0.007438833033067938

### P(A union B) = P(A) * P(B)

In [10]:
print(probability_both_years == probability_2021 * probability_2022)

False

In [11]:
probability_2021 * probability_2022

0.24999111158317433

##### Since the probability of both years is not equal to the probability of 2021 times the probability of 2022, then the events are dependent

### Find the probability that a user watched in both years, given they watched in Q2 2022

In [12]:
probability_both_years / probability_2022

0.014966909099413018